html, body {
    height: 100%;      
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    flex-direction: column;
}

header {
    font-size: 30px;
    color: white;
    background-color: darkred;
    margin: 0;
    padding: 0;
    text-align: center;
    -webkit-text-stroke: 1px black;
}

h1 {
    margin: 0;

}

footer {
    min-height:fit-content;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
    background-color: darkred;
    
}

h6 {
    min-height: fit-content;
    font-size: 25px;
    color: white;
    -webkit-text-stroke: .3px black;
    margin-top: 20px;
    margin-bottom: 15px;
}

main { 
    display: flex;
    flex: 1;              
    padding: 20px;
    border-left: 30px solid darkred;
    border-right: 30px solid darkred;
    box-sizing: border-box;
    flex-direction: column;
    background-color: mistyrose;
    align-items: center;
   
}

#buttons {
    display: flex;
    justify-content: space-evenly;
    margin: 30px 0px;
    width: 1000px;
    

}

button {
    padding: 10px 30px;
    font-size: 30px;
}

#resizeModal{
    display: ;
    background-color: lightgrey;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
   
}

/* Styles applied ONLY when the modal is open */
#resizeModal[open] {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 16px;
  box-sizing: border-box;
}

.closeBtnResize {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}

p {
    margin: 10px 0;
}

.userInput {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

input {
    width: 50px;
    height: 15x;
}

.closeResize {
    cursor: pointer;
    padding: 2px 5px;
    font-size: 15px;
    height: fit-content;
    width: fit-content;

}

.enter {
    font-size: 20px;
}

.error {
  
  bottom: 8px;
  left: 0;
  right: 0;
  color: red;
  font-size: 12px;
  text-align: center;
  margin: 0;
}

#sketchPad {
    display: flex;
    flex-wrap: wrap;
    height: 1000px;
    width: 1000px;
    box-sizing: border-box;
    border: 2px solid grey;
    align-content: stretch;
    background-color: white ;
    margin-bottom: 30px;
    
}

.cell {
    box-sizing: border-box;
    border: 1px solid #ddd;
    outline: 1px solid #ddd;
}


    