html, body {
    height: 100%;      
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    flex-direction: column;
}

header {
    font-size: 30px;
    color: white;
    background-color: #1d1e2c;
    margin: 0;
    padding: 0;
    text-align: center;
    -webkit-text-stroke: 1px black;
}

h1 {
    margin: 0;

}

footer {
    min-height:fit-content;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
    background-color: #1d1e2c;
    
}

h6 {
    min-height: fit-content;
    font-size: 25px;
    color: white;
    -webkit-text-stroke: .3px black;
    margin-top: 20px;
    margin-bottom: 15px;
}

main { 
    display: flex;
    flex: 1;              
    padding: 20px;
    border-left: 30px solid #1d1e2c;
    border-right: 30px solid #1d1e2c;
    box-sizing: border-box;
    flex-direction: column;
    background-color: grey;
    align-items: center;
   
}

#buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0px;
    width: 1000px;
    gap: 20px;
    

}

button.resize, button.resetBtn, button.color, button.draw, button.erase, button.save {
    padding: 10px 30px;
    font-size: 20px;
    width: 150px;
    border-radius: 10px;
    border: 2px solid grey;
    cursor: pointer;
}

.buttonsTop, .buttonsBottom{
    display: flex;
    justify-content: space-evenly;
    gap: 50px;
}


#resizeModal{
    background-color: whitesmoke;
    padding: 10px;
    border: 2px solid black;
    
   
}

#resizeModal[open] {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 16px;
  box-sizing: border-box;
}

.closeBtnResize {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}

p {
    margin: 10px 0;
}

.userInput {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

input {
    width: 50px;
    height: 15px;
}

.resizeClose {
    cursor: pointer;
    padding: 2px 5px;
    font-size: 15px;
    height: fit-content;
    width: fit-content;
}

.enterBtn {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.enter {
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid black;
    width: 100px;
    margin-bottom: 10px;
}

.error {
  bottom: 8px;
  left: 0;
  right: 0;
  color: red;
  font-size: 12px;
  text-align: center;
  margin: 0;
}

.colorModal {
    width: 175px;
}
.colorModal [open] {
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    
}

.colorModalTop {
    display:flex;
    justify-content: space-between;
    font-weight: bold;
    align-items: center;
    margin-bottom: 5px;
}

.colorModalBottom {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 10px;
}

.colorModalButtons {
    display: flex;
    justify-content: space-around;
}

.colorClose {
    cursor: pointer;
    padding: 2px 5px;
    font-size: 15px;
    height: fit-content;
    width: fit-content;
}

.colorConfirm, .colorCancel {
    display: flex;
    justify-content: center;
    font-size: 15px;
}

.colorSelect{
    height: 25px;
    width: 25px;
    outline: 5px solid white;
    outline-offset: -6px;
    border: 2px solid whitesmoke;
    cursor: pointer;
}

.colorSelect.clicked {
    height: 25px;
    width: 25px;
    outline: 5px solid whitesmoke;
    outline-offset: -6px;
    border: 2px solid black;
    cursor: pointer;


}

.colorBox {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.colorBox2 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

#colorBlack {
    background-color: black;
}
#colorRed {
    background-color: red;
}
#colorBlue {
    background-color: blue;
}
#colorGreen {
    background-color: green;
}
#colorYellow {
    background-color: yellow;
}
#colorPurple {
    background-color: purple;
}
#colorGrey {
    background-color: grey;
}
#colorOrange {
    background-color: orange;
}
#colorYellowGreen {
    background-color: yellowgreen;
}
#colorLightBlue {
    background-color: lightblue;
}
#colorGold {
    background-color: gold;
}
#colorIndigo {
    background-color: indigo;
}
.resetModal[open] {
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
}

.resetModalTop {
    display:flex;
    justify-content: space-between;
    font-weight: bold;
    align-items: center;

}

.resetClose {
    padding: 2px 5px;
    font-size: 15px;
    cursor: pointer;
    height: fit-content;
    width: fit-content;
}

.resetModalButtons {
    display: flex;
    justify-content: space-evenly;
}
.reset, .noReset {
    display: flex;
    justify-content: center;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid black;
    width: 50px;
}

.erase {
    display: flex;
    justify-content: center;
}

.draw {
    display: flex;
    justify-content: center;
}

#sketchPad {
    display: flex;
    flex-wrap: wrap;
    height: 1000px;
    width: 1000px;
    box-sizing: border-box;
    border: 2px solid black;
    align-content: stretch;
    background-color: lightgrey ;
    margin-bottom: 10px;   
}

.cell {
    box-sizing: border-box;
    border: 1px solid lightgrey;
    outline: 1px solid lightgrey;
    background-color: #f8f9fa;
}

.cell.black {
    background-color: black;
}

.cell.white {
    background-color: white;
}

.cell.red {
    background-color: red;
}

.cell.blue {
    background-color: blue;
}

.cell.green {
    background-color: green;
}

.cell.yellow {
    background-color: yellow;
}

.cell.purple {
    background-color: purple;
}

.cell.grey {
    background-color: grey;
}

.cell.orange {
    background-color: orange;
}

.cell.yellowgreen {
    background-color: yellowgreen;
}

.cell.lightblue {
    background-color: lightblue;
}

.cell.gold {
    background-color: gold;
}

.cell.indigo {
    background-color: indigo;
}


    